body {
    background-image: url("assets/white_nature.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 1024px) {

  body {
    background-image: url("assets/white_nature1024.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron{
    background: none;
}

#search{
  display:inline;
}

#search-box{
  width: 100%;
  border-radius: .25rem;
  margin-bottom: 4px;
}
  
}


 img.navbar-logo{
    height:32px;
}

img.navbar-logo:hover{
    transform: scale(1.2);
}


img.logo{
    height:125px;
  }

h1.header{
    font-family: Quicksand;
    font-size: 42px;
    font-weight: bold;
}

p.desc{
    color: rgb(160, 177, 187);
    font-family: Helvetica;
}

.downloadlink{
    margin-top:40px
}

#stats_banner{
    color:grey; 
    margin-top:40px;
    margin-bottom:100px;
}

span.stats{
    color:royalblue;
    text-decoration: overline;
}

.social{
  color:grey; 
  margin-bottom:10px;
}

.social-link{
  padding:5px;
}

div#actualStats{
    display:none;
}

input#search-box{
    background-color:transparent !important;
    margin-right:2px;
    border: 1.2px solid #ced4da;
    border-radius: none;
    color:#1f74c9;
 }

span.message{
  font-size:14px; 
  color:red; 

}

.jumbotron {
    background: none
}

.form-control:focus {
  outline: 0; 
  box-shadow: 0 0 0 0.05rem rgba(0,123,255,.25);
}

/* LOADER */

#loader-2 span{
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 30px 5px;
}


#loader-2 span#span-1{
  background-color: #007bff;
}
#loader-2 span#span-2{
  background-color: lightcoral;
}
#loader-2 span#span-3{
  background-color:lightgreen;
}

#loader-2 span:nth-child(1){
  animation: bounce 1s ease-in-out infinite;
}

#loader-2 span:nth-child(2){
  animation: bounce 1s ease-in-out 0.33s infinite;
}

#loader-2 span:nth-child(3){
  animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce{
  0%, 75%, 100%{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  25%{
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}


/* LOADER */
